
:root {
--color-feedback-info-light: #e3effc;
/* Border-active */
--color-feedback-info-default: #2680eb;
--color-feedback-info-dark: #3c80d0;
--color-feedback-info-darkest: #2d70c0;
--color-feedback-warning-light: #fdf4e2;
--color-feedback-warning-default: #ff9a32;
--color-feedback-warning-dark: #d7a950;
--color-feedback-warning-darkest: #c79940;
--color-feedback-error-light: #ffe1e0;
--color-feedback-error-default: #bd0600;
--color-feedback-error-dark: #be3430;
--color-feedback-error-darkest: #9e1510;
--color-feedback-positive-light: #bfeee1;
--color-feedback-positive-default: #00ba88;
--color-feedback-positive-dark: #20ab86;
--color-feedback-positive-darkest: #109c76;
--color-extended-violet-default: #681cd4;
--color-extended-violet-10: #f0e8fb;
--color-extended-violet-20: #d9c6f4;
--color-extended-violet-30: #b48dea;
--color-extended-violet-40: #8e55df;
--color-extended-orange-default: #ff9a32;
--color-extended-orange-10: #fff5ea;
--color-extended-orange-20: #f8dfc3;
--color-extended-orange-30: #fac793;
--color-extended-orange-40: #fdb063;
--color-extended-red-default: #e41a15;
--color-extended-red-10: #fce8e8;
--color-extended-red-20: #f8c6c4;
--color-extended-red-30: #f28c8a;
--color-extended-red-40: #eb5350;
--color-extended-marine-default: #8fdbdd;
--color-extended-marine-10: #f4fbfc;
--color-extended-marine-20: #e3f6f7;
--color-extended-marine-30: #c7edee;
--color-extended-marine-40: #abe4e5;
--color-neutral-darkest: #101319;
--color-neutral-80: #383c45;
--color-neutral-70: #585c65;
--color-neutral-60: #6e7078;
--color-neutral-50: #bfbfbf;
--color-neutral-40: #cecece;
/* Border-default */
--color-neutral-30: #e0e0e0;
--color-neutral-20: #f1f1f1;
--color-neutral-10: #fafafa;
--color-neutral-lightest: #ffffff;
--color-accessibility-light: #1be5ea;
--color-accessibility-dark: #202532;
--color-primary-10: #eb5350;
--color-primary-20: #bb2420;
--color-primary-30: #ab1410;
--color-primary-pure: #e41a15;
--color-secondary-10: #6e7078;
--color-secondary-20: #14171f;
--color-secondary-30: #0c0e13;
--color-secondary-pure: #202532;
--color-semantic-border-default: #e0e0e0;
--color-semantic-border-active-hover: #2680eb;
--color-semantic-border-disable: #bfbfbf;
--color-semantic-border-error: #bd0600;
--color-semantic-text-default-dark: #202532;
--color-semantic-text-default-light: #ffffff;
--color-semantic-text-medium-dark: #585c65;
--color-semantic-text-disable: #bfbfbf;
--color-semantic-text-error: #bd0600;
--color-semantic-placeholder-default: #585c65;
--color-semantic-placeholder-filled: #202532;
--color-semantic-placeholder-disable: #bfbfbf;
--color-semantic-placeholder-error: #bd0600;
--color-semantic-link-default: #2680eb;
--color-semantic-link-hover: #3c80d0;
--color-semantic-link-pressed: #2d70c0;
--color-semantic-link-disable: #bfbfbf;
--color-semantic-fill-default: #ffffff;
--color-semantic-fill-hover: #f1f1f1;
--color-semantic-fill-active-blue: #2680eb;
--color-semantic-fill-active-black: #202532;
--color-semantic-fill-disable: #f1f1f1;
--color-semantic-icon-default-dark: #202532;
--color-semantic-icon-default-light: #ffffff;
--color-semantic-icon-disable: #bfbfbf;
}